[Desktop Entry]
Name=PDF to JPG (страници)
Comment=Извличане на избрани страници от PDF в JPG
Exec=/bin/bash -c '$HOME/bin/pdf_to_jpg.sh %f'
Icon=application-pdf
Terminal=false
Type=Application
MimeType=application/pdf;
Categories=Utility;
